*{
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
}

.App {
  display: flex;
  flex-flow:  column nowrap;

  div{
    margin: 10px;
    padding-left: 20%;      
    text-align: left;
  }
}

